<h1>Would you like to solve your worries?</h1>
<br>
<br>
<div class="container">
  <div class="row">
    <%= form_with model: @page do |f| %>
      <table>
        <tr>
          <th><%= f.label :date ,"Date" %></th>
          <td><%= f.date_field :date %></td>
        </tr>
        <tr>
          <th><%= f.label :category ,"Category" %></th>
          <td><%= f.select :category, [["お金", "お金"], ["健康", "健康"], ["恋愛", "恋愛"], ["キャリア", "キャリア"], ["その他", "その他"]], include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
          <th><%= f.label :worry ,"Worry" %></th>
          <td><%= f.text_area :worry %></td>
        </tr>
        <tr>
          <th><%= f.label :thinking ,"Thinking" %></th>
          <td><%= f.text_area :thinking %></td>
        </tr>
        <tr>
          <th><%= f.label :approach ,"Approach" %></th>
          <td><%= f.text_area :approach %></td>
        </tr>
      </table>
      <br>
      <div>
        <%= f.submit "Completion of editing" %>
      </div>
    <% end %>
  </div>
</div>
<br>
<p><%= link_to "Worry List", pages_path, class:"btn btn-primary" %></p>
