<h1>Would you like to solve your worries?</h1>
<br>
<br>
<div class="container">
<div class="row">
<%= form_for @page do |f| %>
  <table>
    <tr>
      <th><%= f.label :date ,"Date" %></th>
      <td><%= f.text_field :date %></td>
    </tr>
    <tr>
      <th><%= f.label :worry ,"Worry" %></th>
      <td><%= f.text_area :worry %></td>
    </tr>
    <tr>
      <th><%= f.label :thinking ,"Thinking" %></th>
      <td><%= f.text_area :thinking %></td>
    </tr>
    <tr>
      <th><%= f.label :approach ,"Approach" %></th>
      <td><%= f.text_area :approach %></td>
    </tr>
  </table>
  <br>
  <div>
    <%= f.submit "編集を完了する" %>
  </div>
<% end %>
</div>
</div>
<br>
<p><%= link_to "トップページ", root_path, class:"btn btn-primary" %></p>
