<div class="row_button">
  <div class="button">
    <p><%= link_to "ログイン", new_user_session_path, class:"btn btn-primary" %></p>
    <p><%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %></p>
    <p><%= link_to "ログアウト", destroy_user_session_path, class:"btn btn-primary" %></p>
  </div>
</div>

<h1>Would you like to solve your worries?</h1>
<br>
<br>
<h2>Worry List</h2>
<br>
<table>
  <div class="container">
  <div class="row">
  <thead>
    <tr>
      <th class="col-md-2">Date</th>
      <th class="col-md-2">Category</th>
      <th class="col-md-2">Worry</th>
      <th class="col-md-3">Thinking</th>
      <th class="col-md-3">Approach</th>
      <th class="col-md-2">Detail/Edit/Delete</th>
    </tr>
  </thead>
  </div>
  </div>
  <tbody>
  <div class="container">
  <div class="row">
    <% @pages.each do |page| %>
      <tr>
        <td class="col-md-2"><%= page.date %></td>
        <td class="col-md-2"><%= page.category %></td>
        <td class="col-md-2"><%= page.worry %></td>
        <td class="col-md-3"><%= page.thinking %></td>
        <td class="col-md-3"><%= page.approach %></td>
        <td class="col-md-2">
          <%= link_to "Detail", page_path(page.id) %>
          <%= link_to "Edit", edit_page_path(page.id) %>
          <%= link_to "Delete", page, method: :delete %>
        </td>
      </tr>
    <% end %>
  </div>
  </div>
  </tbody>
</table>
<div class="create">
  <p><%= link_to "Create a Worry", new_page_path, class:"btn btn-primary" %></p>
  <p class="create1"><%= link_to "How to use", description_pages_path, class:"btn btn-primary" %></p>
</div>
