<h1>Would you like to solve your worries?</h1>
<br>
<br>
<h2>Worry List</h2>
<br>
<div class="main">
  <div class="top">
    <table>
      <div class="container">
      <div class="row">
      <thead>
        <tr>
          <th class="col-md-2">Date</th>
          <th class="col-md-2">Category</th>
          <th class="col-md-2">Worry</th>
          <th class="col-md-3">Thinking</th>
          <th class="col-md-3">Approach</th>
          <th class="col-md-2">Detail/Edit/Delete</th>
        </tr>
      </thead>
      </div>
      </div>
      <tbody>
      <div class="container">
      <div class="row">
        <% @pages.each do |page| %>
          <tr class="table" >
            <td class="col-md-2"><%= page.date %></td>
            <td class="col-md-2"><%= page.category %></td>
            <td class="col-md-2"><%= page.worry %></td>
            <td class="col-md-3"><%= page.thinking %></td>
            <td class="col-md-3"><%= page.approach %></td>
            <td class="col-md-2">
              <%= link_to "Detail", page_path(page.id) %>
              <%= link_to "Edit", edit_page_path(page.id) %>
              <%= link_to "Delete", page, method: :delete %>
            </td>
          </tr>
        <% end %>
      </div>
      </div>
      </tbody>
    </table>
    <%= paginate @pages %>
  </div>
  <%= render 'shared/worry_button' %>
</div>
