<h1>Would you like to solve your worries?</h1>
<br>
<br>
<div class="container">
<div class="row">
<%= form_with(model: @page, local: true) do |form| %>
  <div class="col-md-2">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="col-md-2">
    <%= form.label :worry %>
    <%= form.text_area :worry %>
  </div>

  <div class="col-md-2">
    <%= form.label :thinking, "Thinking" %>
    <%= form.text_area :thinking %>
  </div>

  <div class="col-md-2">
    <%= form.label :approach %>
    <%= form.text_area :approach %>
  </div>
  <br>
  <div class="col-md-2">
    <%= form.submit "Create a worry" %>
  </div>
<% end %>
</div>
</div>
<br>
<p><%= link_to "Back to the worry list", pages_path, class:"btn btn-primary" %></p>
