<h1>Would you like to solve your worries?</h1>
<br>
<br>
<div class="container">
  <div class="row">
    <table>
      <tr>
        <th>Date</th>
        <td><%= @page.date %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td><%= @page.category %></td>
      </tr>
      <tr>
        <th>Worry</th>
        <td><%= @page.worry %></td>
      </tr>
      <tr>
        <th>Thinking</th>
        <td><%= @page.thinking %></td>
      </tr>
      <tr>
        <th>Approach</th>
        <td><%= @page.approach %></td>
      </tr>
    </table>
  </div>
</div>
<br>
<br>
<p><%= link_to "Worry List", pages_path, class:"btn btn-primary" %></p>
<br>
<br>
<br>
<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <%= c.comment_content %>
  </div>
<% end %>

<%= form_with(model:[@page, @comment], method: :post) do |f| %>
  <%= f.text_field :comment_content %>
  <%= f.hidden_field :page_id, value: @page.id %>
  <br>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>
